<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>ToDoMVC</display-name>
  <listener>
    <listener-class>com.encuestas.ToDoServlet</listener-class>
  </listener>
  <context-param>
    <description>The JDBC driver class</description>
    <param-name>jdbcDriver</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <description>The JDBC connection string</description>
    <param-name>jdbcConnectionString</param-name>
    <param-value>jdbc:mysql://localhost/todo?user=root&amp;password=admin</param-value>
  </context-param>
  <servlet>
    <servlet-name>todoservlet</servlet-name>
    <servlet-class>com.encuestas.ToDoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>todoservlet</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addtodoservlet</servlet-name>
    <servlet-class>com.encuestas.AddToDoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addtodoservlet</servlet-name>
    <url-pattern>/AddItem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deletetodoservlet</servlet-name>
    <servlet-class>com.encuestas.DeleteToDoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletetodoservlet</servlet-name>
    <url-pattern>/DeleteItem.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>servletejemplo</servlet-name>
    <servlet-class>com.encuestas.ServletEjemplo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletejemplo</servlet-name>
    <url-pattern>/ServletEjemplo</url-pattern>
  </servlet-mapping>
</web-app>
